*{
    box-sizing: border-box;
    margin: 0;
}

:root {
--strong-cyan: hsl(171, 66%, 44%);
--light-blue: hsl(233, 100%, 69%);
--dark-grayish-blue: hsl(210, 10%, 33%);
--grayish-blue: hsl(201, 11%, 66%);
}

body {
    font-family: 'Bai Jamjuree', sans-serif;   
    color: var(--dark-grayish-blue);
    text-align: center;
}

header {
    background-image: url(images/bg-header-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}

h1 {
    font-weight: 600;
    font-size: 2rem;
    padding: 10px;
}

h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

h3 {
    font-weight: 400;
    font-size: 1rem;
    font-weight: bolder;
}

p {
    font-size: 16px;
    line-height: 150%;
    color: var(--grayish-blue);
    padding-top: 20px;
}

.heading {
    margin: 0 auto;
    width: 60%;
    padding-top: 30px;
    place-items: center;
    text-align: center;
    padding-bottom: 40px;
}

/***************************************** button ******************************************/
.btn {
    border: none;
    padding: 13px 20px;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
}

.ios {
    color: #fff;
    background-color: var(--strong-cyan);
    box-shadow: 0 8px 16px 0 rgba(9, 196, 149, 0.2);
    margin-right: 10px;
}

.mac{
    color: #fff;
    background-color: var(--light-blue);
    box-shadow: 0 8px 16px 0 rgba(82, 43, 221, 0.2);
    margin-left: 10px;
}

.btn:hover {
    color: #fff;
    background-color: var(--grayish-blue);
    box-shadow: 0 9px #999;
  }

.btn:active {
    transform: translateY(4px);
}

/****************************************** (snippets) ***************************************/
.features {
    display: grid;
    height: 700px;
    align-content: space-around;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
    align-items: center;
  }

.feature-text {
    margin-bottom: 30px;
    text-align: left;
    width: 60%
}

.feature-image img {
    width: 70%;
}

/********************************************Supercharge your workflow************************************************/
.iconsflex {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
    align-content: space-around;
    gap: 30px;
    padding-bottom: 150px;
    padding-top: 80px;
}

.icon {
    padding-bottom: 20px;
}

.companies {
    display: grid;
    align-content: space-around;
    grid-template-columns: auto auto auto auto auto;
    gap: 80px;
    padding-bottom: 80px;
    justify-content: center;
}

.padding_space {
    padding-bottom: 100px;
}

/************************************************ Footer *******************************************************************/
footer {
    padding: 5px;
    background-color: #f5f6f8a6;
}

.footer-wrap {
    display: flex;
    justify-content: space-around;
    place-items: center;
}

.footer-logo img {
    height: 60px;
    padding: 10px;
}


.footer-item p {
    cursor: pointer;
}

.footer-item p:hover {
    color: hsl(171, 66%, 44%);
}
